{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        {{ title|capfirst }}
        {% endblock title %}
    </title>

    {% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock css %}

</head>

<body>

    {% block content %}
    {% endblock content %}
    

    {% block js %}

    <script id="hello-data" type="application/json">{{ appartaments }}</script>

    
    <script>
        const obj ={
            'user': JSON.parse('{{ object_list | escapejs }}')[0].fields,
            'appartaments': JSON.parse('{{ appartaments | escapejs }}')[0].fields,
            'house': JSON.parse('{{ house | escapejs }}')[0].fields,
            'city': JSON.parse('{{ city | escapejs }}')[0].fields,
            'street': JSON.parse('{{ street | escapejs }}')[0].fields,
            'uk': JSON.parse('{{ uk | escapejs }}')[0].fields,
            'invoice': JSON.parse('{{ invoice | escapejs }}')[0].fields
        }
    </script>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- jsPDF -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <!-- html2canvas -->
    <script src="{% static 'js/html2canvas.js' %}"></script>
    <!-- Javascript -->
    <script src="{% static 'js/invoice.js' %}"></script>
    
    

    {% endblock js %}
    <!-- {% block expoJS %}
    <script>
        const payer = '{{ context|safe }}';
    </script>
    {% endblock expoJS %} -->

</body>

</html>